{% extends 'layout.njk' %}

{% block style %}
<link rel="stylesheet" href="/style/chat.css">
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

<canvas id="chat-canvas"></canvas>

<p style="color: {{color}}">{{user}}</p>

</div>

<form id="chat-form">
    <input type="text" id="chat">
    <button type="submit">전송</button>
</form>
{% endblock %}

{% block script %}
<script src="/socket.io/socket.io.js"></script>
<script type="module">
    const canvas = document.querySelector("#chat-canvas");
    const context = canvas.getContext("2d");
    
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    let backgroundImgX = 0, backgroundImgY = 0;
    const backgroundImg = new Image();
    backgroundImg.onload = () => {
        context.drawImage(backgroundImg, 0, 0, 1000, 1400);
    };
    backgroundImg.src = "asset/yard.svg";

    const meImg = new Image();
    meImg.onload = () => {
        context.drawImage(meImg, canvas.width/2 - 40, canvas.height/2 - 40, 80, 80);
    };
    meImg.src = "asset/chtor.svg";

    const socket = io.connect('http://localhost:3000/chat', {
        path: '/socket.io',
    });

    document.querySelector("#chat-form").addEventListener('submit', (e) => {
        e.preventDefault();
        if (e.target.chat.value) {
            socket.emit('chat', {
                user: socket.id,
                chat: e.target.chat.value
            });
        }
        e.target.chat.value = '';
    });

    socket.on('chat', (data) => {
        context.fillRect(canvas.width / 2 - 50, canvas.height / 2 - 50, 100, 30); // temporary speech bubble
        console.log(data);
    });
</script>
{% endblock %}